<!DOCTYPE html>
<head>
    <title>Weathers App</title>
    
    <link rel="stylesheet"  href="./css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
    <div class="main">
        <p>Type your location to get Weathers</p>
        <form>
            <input>
            <button>Search</button>
        </form>
        <br>
        <p id="p1"></p>
        <br>
        <p id="p2"></p>
    </div>
    </div>
    {{>footer}}

    <script src="js/script.js"></script>

</body>
</html>